.productContainer {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;

  .writingContainer {
    width: 50%;
    height: 100vh;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;

    h2,
    h3 {
      margin: 0;
      padding: 0;
    }

    .titles {
      padding: 30px;
      width: 50%;
      margin: 0 auto;

      .firstTitle {
        font-family: "Dancing Script", cursive;
        font-size: 5rem;

        span {
          color: #f7db44;
        }
      }

      .secondTitle {
        font-family: "Yeseva One", cursive;
        font-size: 2rem;
      }

      p {
        font-size: 1.3rem;
        font-weight: 700;
      }
    }

    .yellowBoxContainer {
      position: relative;
      .yellowBox {
        position: absolute;
        width: 90%;
        height: 30px;
        background: #f7db44;
      }
      h3 {
        font-size: 1.5rem;
        position: absolute;
        bottom: -12px;
        cursor: pointer;

        span {
          font-size: 1.1rem;
          cursor: pointer;
        }
      }
    }
  }

  .imageContainer {
    width: 50%;
    height: 100vh;
    background: url("../../images/product.jpeg");
    border-radius: 250px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
  }
}

.phoneContainer {
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 1000;

  img {
    width: 300px;
    opacity: 0;
    position: absolute;
    left: 10%;
    transform: translateY(-40%);
    box-shadow: 9px 12px 5px 0px rgba(0, 0, 0, 0.09);
    transition: 1s;
  }
}

#phoneIcon:hover ~ #phoneImage {
  opacity: 1;
}

#phoneIcon:hover {
  cursor: pointer;
  color: #f7db44;
  transition: 0.5s;
}

#phoneIcon,
#tabletIcon {
  font-size: 2rem;
  padding: 10px;
  color: #323233;
}

.tabletContainer {
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: 4%;
  z-index: 1000;

  img {
    width: 300px;
    opacity: 0;
    position: absolute;
    left: 10%;
    transform: translateY(-40%);
    box-shadow: 9px 12px 5px 0px rgba(0, 0, 0, 0.09);
    transition: 1s;
  }
}

#tabletIcon:hover ~ #tabletImage {
  opacity: 1;
}

#tabletIcon:hover {
  cursor: pointer;
  color: #f7db44;
  transition: 0.5s;
}

@media (max-width: 800px) {
  .productContainer {
    flex-direction: column-reverse;
    overflow: hidden;
    .imageContainer {
      width: 100%;
      height: 70vh;
    }

    .writingContainer {
      height: 30vh;
      width: 100vh;

      p {
        display: none;
      }

      .yellowBoxContainer {
        .yellowBox {
          width: 300px;
        }

        h3 {
          left: 200px;
        }
      }

      .titles {
        padding: 0;
        margin-left: 10px;
      }
    }
  }

  #phoneIcon,
  #tabletIcon {
    display: none;
  }
}

@media (min-width: 801px) {
  .yellowBoxContainer {
    h3 {
      right: 50px;
    }
  }
}
