.travelContainer {
  font-family: "Yeseva One", cursive;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  background: #f5f4f1;

  .writingContainer {
    width: 30%;

    .writing {
      width: 90%;
      margin: auto;
    }

    h2 {
      font-size: 2rem;
    }

    h3 {
      font-size: 1.5rem;
      width: 100%;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      margin-top: 50px;

      li {
        float: right;
        padding-right: 10px;
      }
    }

    .footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: translateY(100%);
      width: 100vw;
      z-index: 0;
      h3 {
        text-align: center;
        margin: 0;
        padding: 0;
        margin-top: 20px;
      }
    }

    .spanUnderline {
      background-image: linear-gradient(
        120deg,
        rgb(21, 129, 195) 0%,
        rgb(21, 129, 195) 100%
      );
      background-repeat: no-repeat;
      background-size: 100% 0.4em;
      background-position: 0 88%;
      transition: background-size 0.25s;
    }

    .colorWriting {
      color: black;
    }

    .button {
      z-index: 1000;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 50%;
        padding: 20px;
      }

      @mixin btn-border-drawing(
        $color: #ccc,
        $hover: black,
        $width: 2px,
        $vertical: top,
        $horizontal: left,
        $duration: 0.25s
      ) {
        box-shadow: inset 0 0 0 $width $color;
        color: $color;
        transition: color $duration $duration/3;
        position: relative;
        width: 100%;

        &::before,
        &::after {
          border: 0 solid transparent;
          box-sizing: border-box;
          content: "";
          pointer-events: none;
          position: absolute;
          width: 0;
          height: 0;

          #{$vertical}: 0;
          #{$horizontal}: 0;
        }

        &::before {
          $h-side: if($horizontal == "left", "right", "left");

          border-#{$vertical}-width: $width;
          border-#{$h-side}-width: $width;
        }

        &::after {
          $v-side: if($vertical == "top", "bottom", "top");

          border-#{$v-side}-width: $width;
          border-#{$horizontal}-width: $width;
        }

        &:hover {
          color: $hover;

          &::before,
          &::after {
            border-color: $hover;
            transition: border-color 0s, width $duration, height $duration;
            width: 100%;
            height: 100%;
          }

          &::before {
            transition-delay: 0s, 0s, $duration;
          }

          &::after {
            transition-delay: 0s, $duration, 0s;
          }
        }
      }

      .draw_border {
        @include btn-border-drawing(
          rgb(21, 129, 195),
          black,
          4px,
          bottom,
          right
        );
      }

      //=== Button styling, semi-ignore
      .btn {
        background: white;
        border: none;
        cursor: pointer;
        line-height: 1.5;
        padding: 1em 2em;
        font-family: "Yeseva One", cursive;
        font-size: 1.2rem;
        color: black;
      }
    }
  }

  .imageContainer {
    width: 70%;

    img {
      width: 100%;
    }
  }
}

.phoneContainer {
  width: 40%;
  position: absolute;
  top: 50%;
  left: 0;
  padding-bottom: 40px;

  img {
    width: 300px;
    opacity: 0;
    position: absolute;
    left: 10%;
    transform: translateY(-40%);
    box-shadow: 9px 12px 5px 0px rgba(0, 0, 0, 0.09);
    transition: 1s;
  }
}

#phoneIcon,
#tabletIcon {
  font-size: 2rem;
  padding-left: 10px;
  padding-bottom: 20px;
}

#phoneIcon:hover ~ #phoneImage {
  opacity: 1;
}

#phoneIcon:hover {
  cursor: pointer;
  color: rgb(21, 129, 195);
  transition: 0.5s;
}

.tabletContainer {
  width: 40%;
  position: absolute;
  left: 0;
  transform: translateY(100%);
  top: 50%;

  img {
    width: 300px;
    opacity: 0;
    position: absolute;
    left: 10%;
    transform: translateY(-40%);
    box-shadow: 9px 12px 5px 0px rgba(0, 0, 0, 0.09);
    transition: 1s;
  }
}

#tabletIcon:hover ~ #tabletImage {
  opacity: 1;
}

#tabletIcon:hover {
  cursor: pointer;
  color: rgb(21, 129, 195);
  transition: 0.5s;
}

#cat {
  position: absolute;
  bottom: 0;
  width: 10%;
}

@media (max-width: 800px) {
  .travelContainer {
    flex-direction: column-reverse;

    .imageContainer {
      width: 100%;
    }

    .writingContainer {
      width: 100%;

      h2 {
        font-size: 3.4rem;
        padding: 0;
        margin: 0;
      }

      h3 {
        width: 100%;
        padding: 0;
        margin: 0;
      }
    }
  }
  #cat {
    width: 20%;
  }

  #phoneIcon,
  #tabletIcon {
    display: none;
  }
}
